<footer>
  <div class="container">
    <div class="footer__top">
      <nav class="footer__list">
        <ul class="footer__list-item"><a href="footer__list-link">CONTACT</a></ul>
        <ul class="footer__list-item"><a href="footer__list-link">TERMS OF SERVICES</a></ul>
        <ul class="footer__list-item"><a href="footer__list-link">SHIPPING AND RETURNS</a></ul>
      </nav>
      <div class="footer__input">
        <input type="text" placeholder="SHIPPING AND RETURNS">
        <button type="submit" class="footer__input-button"></button>
      </div>
    </div>
    <div class="footer__bottom">
      <p сlass="footer__text">© 2021 Shelly. Terms of use and privacy policy.</p>
      <div class="footer__icons">
        <svg class="footer__icon footer__icon--linkedin">
          <use xlink:href="images/sprite.svg#icons--linkedin"></use>
        </svg>
        <svg class="footer__icon footer__icon--facebook">
          <use xlink:href="images/sprite.svg#icons--facebook"></use>
        </svg>
        <svg class="footer__icon footer__icon--instagram">
          <use xlink:href="images/sprite.svg#icons--instagram"></use>
        </svg>
        <svg class="footer__icon footer__icon--twitter">
          <use xlink:href="images/sprite.svg#icons--twitter"></use>
        </svg>
      </div>
    </div>
  </div>
</footer>
<script src="js/main.min.js"></script>
</body>
</html>