<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoppe</title>
    <link rel="stylesheet" href="css/style.min.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__top">
          <img src="images/logo.svg" alt="" class="logo" />
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__list-item">
                <a href="" class="menu__list-link">Shop</a>
              </li>
              <li class="menu__list-item">
                <a href="" class="menu__list-link">Blog</a>
              </li>
              <li class="menu__list-item">
                <a href="" class="menu__list-link">Our Story</a>
              </li>
            </ul>
            <ul class="menu__icons">
              <li class="menu__icons-item">
                <a href="#" class="menu__icons-link">
                  <svg class="menu__icons-icon menu__icons-icon--searcher">
                    <use xlink:href="images/sprite.svg#icons--searcher"></use>
                  </svg>
                </a>
              </li>
              <li class="menu__icons-item menu__icons-item--cart">
                <a href="#" class="menu__icons-link">
                  <svg class="menu__icons-icon">
                    <use xlink:href="images/sprite.svg#icons--cart"></use>
                  </svg>
                  <span class="menu__cart-count">1</span>
                </a>
              </li>
              <li class="menu__icons-item menu__icons-item--profile">
                <a href="#" class="menu__icons-link">
                  <svg class="menu__icons-icon">
                    <use xlink:href="images/sprite.svg#icons--profile"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <button class="menu__btn"><span></span></button>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>
