//fonts

@mixin DMSans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

@mixin DMSans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

@mixin DMSans-700 {
  font-family: 'DMSans-Medium-Bold', sans-serif;
  font-weight: 700;
}

// @mixin quicksand-500 {
//   font-family: 'Quicksand-Medium', sans-serif;
//   font-weight: 500;
// }

// media

@mixin onTablet {
  @media (min-width: 640px) and (max-width: 1279px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 639px) {
    @content;
  }
}
